/* ********* */
/* Elementos */
/* ********* */

html {
    background-image: url("assets/images/background.png");
    background-color: black !important;
    background-repeat: no-repeat;
    background-size: 100% !important;
}

hr {
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 1px solid white !important;
    margin: 1em 0 !important;
    padding: 0 !important;
}

body {
    background-color: #404040 !important;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 0.5);
}

#btnRandomizar:hover {
    border: 1px solid white !important;
}

#cardboxPersonagemImagem {
    min-height: 500px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ******* */
/* Classes */
/* ******* */

.container-roleta {
    padding: 20px !important;
    height: 100% !important;
    font-family: "PixelMix";
}

.loading-gif {
    height: 500px !important;
    width: auto !important;
}

.img-personagem {
    height: 250px;
    width: 250px;
}

.img-referencia {
    height: 120px !important;
}

.modal-expand-image {
    background-color: rgba(0, 0, 0, 0.8) !important;
    position: fixed !important;
    overflow: hidden !important; 
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: 99999999999 !important;
    transition: 0.25s ease-out !important;
    overscroll-behavior: contain !important;
}

.modal-expand-image.open {
    opacity: 1 !important;
    pointer-events: all !important;
}

.full-image {
    position: absolute !important;
    height: 70% !important;
    top: 50% !important;
    left:  50% !important;
    transform: translate(-50%, -50%);
}

.personagem-retornado {
    border-radius: 15px !important;
    background-color: black;
    padding: 20px !important;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 0.5);
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.text-bold {
    font-weight: bold !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-30 {
    font-size: 30px !important;
}

.card-box-black{
    background-color: black !important;
}

.white-border {
    border: 1px solid white !important;
}

.hover-purple:hover {
    color: #7266ba !important
}

.pull-right {
    text-align: right !important;
}

.pull-left {
    text-align: left !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.hover-expand-sm:hover {
    animation: expand-sm 0.5s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.hover-expand-md:hover {
    animation: expand-md 0.5s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.minimize-sm {
    animation: minimize-sm 0.3s !important;
    animation-iteration-count: 1  !important;
    animation-fill-mode: forwards !important;
}

.shake-sm:hover {
    animation: shake 0.35s infinite;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    background-color: #404040 !important;
    color: #444;
    font-family: "PixelMix";
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #404040 !important;
    color: #fff;
    font-family: "PixelMix";
}

.select2-container--default .select2-selection--single {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-search--dropdown {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}
.select2-search__field {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-results { 
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-selection {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-choice {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-search {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-search input {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
}

.select2-results {
    background-color: #404040 !important;
    color: white !important;
    font-family: "PixelMix";
 }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #7266ba !important;
    color: white;
    font-family: "PixelMix";
}

.select2-results__option[aria-selected=true] {
    background-color: #7266ba !important;
    color: white;
    font-family: "PixelMix";
}

/* ********* */
/* Animações */
/* ********* */

@keyframes expand-sm {
    0% {
        transform: scale(1);
    } 
    100%{
        transform: scale(1.045);
    }
}

@keyframes expand-md {
    0% {
        transform: scale(1);
    } 
    100%{
        transform: scale(1.15);
    }
}

@keyframes minimize-sm {
    0% {
        transform: scale(1.045);
    } 
    100%{
        transform: scale(1);
    }
}